@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&family=Signika+Negative:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Signika Negative", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8rem;
  background-color: #feee4e;
  max-height: 5rem;
}
.navbar .link-left, .navbar .link-right {
  color: #f14143;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1.5rem;
  transition: all 0.5s;
  position: relative;
}
.navbar .link-left::after, .navbar .link-right::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0a5aa2;
  width: 100%;
  height: 0.12rem;
  border-radius: 0.5rem;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.navbar .link-left:hover, .navbar .link-right:hover {
  color: #0a5aa2;
}
.navbar .link-left:hover::after, .navbar .link-right:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.navbar .link-left:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}
.navbar .main-logo {
  width: 4rem;
  margin: 0 2rem;
}

.hero-section {
  width: 100%;
  min-height: 22rem;
  height: 60vh;
  background-color: #0a5aa2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section img {
  height: 100%;
  padding: 0.5rem 0;
}
.hero-section h1 {
  font-family: "Merienda One", cursive;
  font-size: 3.2rem;
  line-height: 3rem;
  color: white;
  letter-spacing: -0.3rem;
  margin-top: -1rem;
}
.hero-section h1 .venezolanos {
  font-size: 6rem;
  background: url("../assets/img/bandera-venezuela-2.jpg");
  background-size: 100%;
  background-position-x: center;
  background-position-y: -5px;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-section h1 .quilmes {
  font-size: 6rem;
  background: url("../assets/img/bandera-argentina.jpg");
  background-size: 100%;
  background-position-x: center;
  background-position-y: -8px;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-section h1 .somos {
  margin-left: 6rem;
}
.hero-section h1 .second-line {
  margin-left: 10rem;
}

#about {
  padding-top: 3rem;
}
#about h2 {
  font-family: "Signika Negative", sans-serif;
  color: #141720;
  font-size: 3.3rem;
  letter-spacing: -0.1rem;
  padding-left: 6rem;
}
#about .about_subheading {
  width: 30rem;
  font-size: 1.3rem;
  line-height: 1.35rem;
  text-align: center;
  margin: 2rem auto;
}
#about .about_content {
  position: relative;
}
#about .about_content .about_image {
  width: 100%;
  height: 20rem;
  position: relative;
}
#about .about_content .about_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about .about_content .about_text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  width: 45rem;
  line-height: 1.6rem;
  background-color: #e7d7d3;
}
#about .about_link {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}
#about .about_link a {
  width: 7rem;
  background-color: #f14143;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  text-align: center;
  transition: all 0.3s;
}
#about .about_link a:hover {
  color: #e7d7d3;
  background-color: #0a5aa2;
}

#actividades {
  padding-top: 3rem;
}
#actividades h2 {
  font-family: "Signika Negative", sans-serif;
  color: #141720;
  font-size: 3.3rem;
  letter-spacing: -0.1rem;
  padding-left: 6rem;
}

main {
  width: 100%;
  display: flex;
  align-content: center;
  border: 1px solid black;
}

#calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f14143;
  border: 1px solid #f14143;
}
#calendar .title {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-top: 2rem;
}
#calendar .title h2 {
  font-size: 3rem;
}
#calendar .title .addInput {
  background-image: url("../assets/img/addIcon.png");
  background-size: contain;
  position: relative;
  width: 3rem;
  height: 3rem;
}

.input {
  display: none;
  position: absolute;
  z-index: 3;
  top: 18rem;
  background-color: #e7d7d3;
  height: 15rem;
  border: 1px solid black;
  box-shadow: 10px 10px 15px black;
  border-radius: 10px;
}
.input .inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 28rem;
}
.input .inputForm div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
}
.input .inputForm div div {
  display: flex;
  flex-direction: column;
}
.input .inputForm div div input {
  width: 3rem;
  text-align: center;
}
.input .inputForm div #closeButton {
  margin-left: 2rem;
}
.input .inputForm div button {
  width: 8rem;
  height: 2rem;
  border-radius: 5px;
}

.year {
  display: grid;
  width: 90%;
  grid-template-columns: auto auto;
  column-gap: 10rem;
  row-gap: 3rem;
  padding: 0rem 0rem;
}

.month {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  background-color: #e7d7d3;
  border: 1px solid #e7d7d3;
  border-radius: 10px;
  box-shadow: 10px 10px 40px black;
}
.month h3 {
  font-size: 3rem;
  color: black;
}
.month .daysNames {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 0rem;
  margin-top: 1rem;
}
.month .daysNames .dayName {
  width: 100%;
  text-align: center;
  padding-bottom: 0.5rem;
}
.month .dayGrid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 0.25rem;
  row-gap: 0.25rem;
  padding: 0.5rem;
}
.month .dayGrid .day {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5rem;
  border: 1px solid;
  border-radius: 10px;
}
.month .dayGrid .day div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.month .dayGrid .day div img {
  width: 35px;
}

/*# sourceMappingURL=styles.css.map */
